*.log

/doc/*.html
/doc/*.txt
/doc/*.css
/doc/*.js

/doc/bib.xml.bib
/doc/title.xml
/doc/idrel.xml
/doc/_*.xml

/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc

/gh-pages/

/tmp/

/tst/rws.g
/tst/logrws.g
/tst/modpoly.g
/tst/monpoly.g
/tst/idrels.g

/xtst/simsek.g

